*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color:#f5efe6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    font-family: sans-serif;
}

.container{
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(0,0,0,0.7);
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    position: relative;

}

.screen{
    display: none;
    padding: 2rem;
    text-align: center;
}

.screen.active{
    display: block;

}

#start-screen h1
{
    color: #e86a33;
    margin-bottom: 20px;
    font-size: 2.5rem;

}
#start-screen p{
    color: #4a4949;
    margin-bottom: 35px;
    font-size: 1.12rem;

}

.quiz-header{
    margin-bottom: 2rem;
}


#question-txt{
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.4rem;
}

.qinfo{
    display: flex;
    justify-content:space-between ;
    color: #666;
    font-size: 1rem;
    margin-bottom: 10px;
}

.answer-con{
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-bottom: 25px;
}
.answer-btn{
    transition: all 0.81s ease-in-out;
    background-color: #f8f0e5;
    color: #333;
    border: 2px solid #eadbc8;
    border-radius: 12px;
    padding: 1.2rem;
    cursor: pointer;
    text-align: center;


}

.answer-btn:hover{
    background-color: #b07563;
    border-color: #5d4f4c;


}

.answer-btn.correct{
    background-color: rgb(144, 203, 167);
    border-color: #735d58;
    color: rgb(6, 186, 6);

}
#time{
    font-weight: bold;
    color: #e86a33;
}

.answer-btn.wrong{
    background-color: rgb(207, 92, 92);
    border-color: #735d58;
    color: rgb(199, 204, 199);

}
.answer-btn:disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

.bar{
    height: 10px;
    background-color: #f5e6cf;
    border-radius:7px ;
    overflow: hidden;
    margin-top: 20px;
}


.progress{
    height: 100%;
    background-color: #922e03;
    width: 0%;
    transition: width 0.7s ease-in;
}


#result-score h1{
    color: rgb(210, 112, 59);
    margin-bottom: 35px;
}

.result-info{

    background-color: #f8f0e5;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}


.result-info p {
    font-size: 1.51rem;
    color:#333;
    margin-bottom: 1.2rem;
}


button{
    background-color: #e86a33;
    color: #f5e6cf;
    border: none;
    padding: 15px 30px;
    border-radius: 35px;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.4s ease;
}
button:hover{
    background-color: #c65424;
}

@media (max-width:540px){
    .screen{
        padding: 1rem;
    }

    #start-screen h1{
        font-size: 2rem;

    }
    #question-txt{
        font-size: 1.2rem;
    }
    .answer-btn{
        padding: 11px;
    }
    button{
        padding: 11px 23px;
        font-size: 0.81rem;
    }
}
